/* NAVBAR */
.navbar {
  width: 100%;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-container {
  width: 100%;
  max-width: 1150px;
  margin: auto;
  display: flex;
  align-items: center;
  padding: 12px 15px;
  gap: 15px;
  overflow: hidden;
}


/* LOGO */
.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-logo {
  height: 75px;
  width: 70px;
}

.nav-title {
  color: #127a3a;
  font-size: 1.55rem;
  font-weight: 800;
}

/* NAV LINKS */
.nav-links {
  display: flex;
  gap: 25px;
  margin-left: auto;
}

.nav-link {
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;
  color: #127a3a;
  transition: 0.3s;
}

.nav-link.active {
  border-bottom: 2px solid #127a3a;
}

/* SEARCH */
.nav-search {
  display: flex;
  align-items: center;
  margin-left: 20px;
  position: relative;
}

.search-icon {
  background: #127a3a;
  color: #fff;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.search-input {
  width: 0;
  opacity: 0;
  padding: 0;
  margin-left: 10px;
  border-radius: 6px;
  border: none;
  transition: 0.3s;
}

.search-input.open {
  width: 230px;
  opacity: 1;
  padding: 8px 12px;
  border: 1px solid #bbb;
}

/* MOBILE */
.hamburger {
  display: none;
  margin-left: auto;
  cursor: pointer;
  color: #127a3a;
}

.mobile-search {
  display: none;
}

/* BREAKPOINT 900px */
@media (max-width: 1100px) {
  .hamburger {
    display: block;
  }

  .nav-container {
    padding: 10px 12px;
    gap: 10px;
  }

  .nav-links {
    display: none;
  }

  .nav-links.nav-open {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: white;
    padding: 20px 0;
    position: absolute;
    top: 80px;
    left: 0;
    text-align: center;
    gap: 20px;
  }

  .nav-search {
    display: none;
  }

  .mobile-search {
    display: block;
    padding: 0 20px;
  }

  .mobile-search input {
    width: 90%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
  }
}

/* SMALL PHONES */
@media (max-width: 480px) {
  .nav-title {
    display: none;
        font-size: 1.25rem;

  }

  .nav-logo {
    height: 40px;
  }
}

/* FIX HORIZONTAL SCROLLING */
* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
}

/* FIX NAVBAR WIDTH ISSUE */
.nav-container {
  width: 100%;
  max-width: 1150px;
  margin: auto;
  display: flex;
  align-items: center;
  padding: 12px 15px;
  gap: 15px;
  overflow: hidden;
}

/* PREVENT SEARCH OVERFLOW */
.nav-search {
  max-width: 260px;
  overflow: hidden;
}

@media (max-width: 1100px) {
  .nav-title {
    font-size: 1.25rem;
  }

  .nav-container {
    padding: 10px 12px;
    gap: 10px;
  }
}
